* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: url(bg1.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  transition: 1s;
  filter: brightness(500px);
}

.banner .product {
  height: 500px;
  position: absolute;
  bottom: 170px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  transition: 0.7s;
  --left: 0px;
  display: flex;
}

.banner .product .soda {
  background: url(can5\,.jpg) var(--left) 0px, url(sodacan1.png);
  background-size: auto 100%;

  width: 170px;
  background-blend-mode: multiply;
  mask-image: url(sodacan1.png);
  mask-size: auto 100%;
  transition: 1s;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: 50%;
}

.soda {
  height: 350px;
}

.soda1 {
  height: 350px;
}
.banner .product:hover {
  --left: -630px;
  transform: translateX(-50%) translateY(-120px);
}

.soda1 {
  background: url(can6..jpg) var(--left) 0px, url(sodacan1.png);
  background-size: auto 100%;

  width: 170px;

  background-blend-mode: multiply;
  mask-image: url(sodacan1.png);
  mask-size: auto 100%;
  transition: 1s;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: 50%;
}

.banner .product .soda1 {
  opacity: 0;
}

.banner .product:hover .soda1 {
  opacity: 1;
}

.banner .rock {
  position: absolute;
  inset: 0 0 0 0;
}
*/ .banner .rock img {
  position: absolute;
  transition: 0.7s;
}

.banner .rock img:nth-child(1) {
  height: 370px;
  left: 50%;
  top: 320px;
  transform: translateX(-50%) translate(-120px);
  border: none;
}

.banner:has(.product:hover) .rock img:nth-child(1) {
  transform: translateX(-100px) translateY(-100px);
}

.banner .rock img:nth-child(1) {
  height: 400px;
  left: 50%;
  transform: translatex(-50%);
  bottom: 30px;
  border: none;
}
